[2016-09-07 15:45] iolson opened #1 "Composer Dependency Error on Laravel 5.2"
v5.2.45

[code]

[2016-09-07 17:31] Modelizer commented on #1
Fixed. 👍

[2016-09-07 17:31] #1 closed

[2016-09-07 20:01] jhoopes opened #2 "Collaborate?"
Hi,

So I actually have been working on my own selenium phpunit driver as well.  jhoopes/laravel-selenium-driver   and was wondering if maybe we'd just work on combining the two?  I've got a lot of the API fleshed out, including support for working with databases, interacting with pages, as well as specifying options with the selenium driver itself.

Right now, things are working on a mac with saf

[2016-09-08 11:50] Modelizer commented on #2
Hi @jhoopes,
   I really like your idea and even I was thinking to add other browser support, config file, and other stuff. But what I think right now is to make it really simple for the user to get started quickly.

   I suggest you to start dividing your package specific functionality into PRs and will start merging it one by one. Once your package is fully merged with this package then ill add

[2016-09-08 12:39] jhoopes commented on #2
Hi,

Thanks for getting back, makes sense to make it simple for the user to get started quickly, @pelletiermaxime has also started doing some things as well.

The other thing that I've been thinking about though is maybe we should ask Jeffrey what he's planning on doing, or is already working on, as he did say that he'd like what he started with the PHPUnit Selenium 2 driver to eventually be in a

[2016-09-08 14:38] Modelizer commented on #2
@jhoopes taking integrated package fork will be too overwhelming because this package is specifically for selenium.

Also, lots of API of Integrated package is been pulled into Laravel core, so it might be possible in future @JeffreyWay will abandon that package.

If @JefferyWay can help us to set the roadmap for this package then it will be very useful.

[2016-09-08 16:33] jhoopes commented on #2
Yeah, either way, but looking through the issues on the integrated package, most people are asking for selenium only things anyway.

Also, instead me forking and making PR's from my fork, and then adding me as a collaborator, would you mind making me a collaborator and I just make feature branches to then make PR's to the master branch?

Thanks,

[2016-09-08 17:07] Modelizer commented on #2
@jhoopes made you a collaborator. But please make sure before merging any PR I review it first.

Thanks.

[2016-09-09 17:21] #2 closed

[2016-09-10 13:36] Modelizer opened #6 "[Enhancement] 0.2 Release and Roadmap."
@jhoopes I tested it on windows 10 VM its working fine. Please, you take out time and update me on the same.

Also, I created 0.1 Branch and soon planning to release 0.2 release which will have listed changes below.

In 0.2 release I'm thinking not to add drivers. Rather it will be downloaded as per user required. If a user selected firefox then our script will trigger out which operating system u

[2016-09-10 15:12] jhoopes commented on #6
Hi,

Yeah.  I've been working on the API and database transactions and more.  Been a little slow as internet has been flaky for me.

I agree that we probably shouldn't be putting the drivers directly in the repository.

In the branch I'm working on the following features are being worked on:
- Interacting with the page in an expressive API
- Waiting for elements on a page by CSS Selector, Id, or X

[2016-09-10 17:04] Modelizer commented on #6
I agree on a lot of things what you said, and also encourage you to keep moving as per your flexibility.

Regarding database transaction which will be handled by Laravel itself. We will use `DB::transaction` to start a transaction and end it as per our needs. If any exception is thrown then Laravel automatically rollback it. Also, we will think about transaction once these things are sorted which

[2016-09-15 15:25] #6 closed

[2016-09-19 06:00] gcw07 opened #10 "submitForm"
There are a couple things with the submitForm method.

[code]

Looks like **type_information** is actually **typeInformation**. Also, the submitForm variables are reversed from the standard laravel one. It is $selector, $inputs instead. Sorry I didn't have time to do a real pull request and fix it myself. Figured I'd at least report it for now.

[2016-09-19 06:24] Modelizer commented on #10
Thanks for reporting. :+1:

@jhoopes I think we need to fix this and add it to our next release change log.

[2016-09-19 19:07] gcw07 opened #12 "Missing Imports"
The **InteractWithPage** trait is missing the imports for both exceptions:

CannotClickElement
CannotFindElement

[2016-09-19 19:20] Modelizer commented on #12
Noted 👍

Will be added in future released.

[2016-09-19 19:21] Modelizer commented on #12
`imports for both exceptions` can you elaborate this point?

[2016-09-19 19:29] Modelizer commented on #12
Fixed.

Thanks to report.

[2016-09-19 19:30] gcw07 commented on #12
https://github.com/Modelizer/Selenium/blob/master/src/Services/InteractWithPage.php

Should have:

use Modelizer\Selenium\Exceptions\CannotClickElement;
use Modelizer\Selenium\Exceptions\CannotFindElement;

[2016-09-19 19:34] Modelizer commented on #12
Initially, I felt it was an additional feature but after few seconds realize it was a bug.

Thanks to report. 👍

[2016-09-19 19:34] #12 closed

[2016-09-19 19:39] gcw07 opened #13 "click and press methods"
OK, I've been playing around with both of these methods and how it searches through xpath. I think they should be changed from this:

`$this->findElement($text, "//button[contains(text(), '{$text}')]")->click();`

to

`$this->findElement($text, "//button[contains(., '{$text}')]")->click();`

Basically the problem is with the way it is, is that text() only will find information if that is the only

[2016-09-19 19:47] Modelizer commented on #13
Yes, agreed I think you are right and found similar [question](http://stackoverflow.com/questions/3655549/xpath-containstext-some-string-doesnt-work-when-used-with-node-with-more).

Thanks again 👍

[2016-09-19 20:04] Modelizer commented on #13
Fixed.

[2016-09-19 20:04] #13 closed

[2016-09-27 23:31] kre8or69 opened #14 "Sauce labs integration"
Love the package and using it locally and headless on travis-ci.

Just wondering if you have plans to support sauce labs or browser stack in the future (or just the remote web driver).

Looking forward to all you're upgrades!!

[2016-09-28 07:27] Modelizer commented on #14
Yes, those are cool things which will help to push this package on a new level. Also, I like your thought.

Feel free to submit a PR if you like to contribute.

[2016-09-29 14:19] haakym opened #15 "Tests not hitting APP_URL in proxy environment"
Hi. Firstly, great idea for a package I look forward to seeing it develop further!

I'm developing locally using Laragon on Windows 7 for which I used to start up a fresh install of Laravel 5.3 and pulled in the package and then followed the installation instructions from the readme.

I've added the following values to my `.env` file:

APP_URL="http://modelizer-selenium.dev/"
SELENIUM_WIDTH=1024
S

[2016-09-29 14:35] haakym commented on #15
Related?

https://github.com/Codeception/Codeception/issues/2651

If this is an issue with proxy settings, how or where can I set them?

[2016-09-30 09:32] Modelizer commented on #15
Thanks a lot @haakym
If this is in your test case

[code]

Then test will fail because it's looking for `Laravel` and your body contain `Laragon`

Also, it seems the problem is not related to baseUrl because phpunit is not able to decode json `PHPUnit_Extensions_Selenium2TestCase_Exception: JSON decoding of remote response failed.`

Also, your tag at `<title>Laragon</title` is not been close prope

[2016-09-30 10:11] haakym commented on #15
@Modelizer

Thanks for your reply! I'm not sure you fully understood my issue, I will try to explain in more detail.

The test fails because it's hitting the wrong URL which gives different content to what is expected. I'm using a WAMP app called Laragon and that's the splash page which is shown at `http://localhost`.

I thought the issue was related to the baseUrl because it was going to `http://

[2016-09-30 14:19] Modelizer commented on #15
Okay.

What if we provide an option which will be loaded when selenium server is started.
Example `PHP artisan selenium:start --proxy-server=192.168.1.1`

Will this help you?
Because right now I think we need to tell selenium which proxy needs to be loaded, check [this](http://stackoverflow.com/questions/19225507/how-to-set-proxy-setting-for-chrome-in-selenium-java) out.

This issue is new for me

[2016-10-02 22:03] jhoopes commented on #10
Hi @gcw07 thanks for reporting this issue.  I had already fixed the typeInformation bug with writing tests for the package.  I have now also switched the parameter order, and when that gets released with tests, it should be up there.

Thanks,

[2016-10-03 02:32] kre8or69 commented on #14
So it turns out the phpunit_selenium already is mostly set up to do it. Just overriding the the setup and including an array of browsers with some specific attributes is all that's needed.

Here's a tester I was using, might be helpful.

On a side note I found that using the using see('words','title') wasn't able to retrieve the page title. Might be a known issue though :)

[code]

[2016-10-03 11:25] Modelizer commented on #14
Okay, so what next we need to do is extract config related things and push it into `.env` file. Once selenium is started it will look for `SAUCE_*` is set or not. If yes, then it will not load drivers from SAUCE config/[driver.php](https://github.com/Modelizer/Selenium/blob/master/config/drivers.php) file.

What say?

[2016-10-06 10:43] haakym commented on #15
@Modelizer

Sorry for the late reply.

Yes, that looks good! To be honest, it's new for me too.

[2016-10-14 20:15] #10 closed

[2016-10-24 07:51] spescina opened #17 "chrome binary"
I am on a vagrant ubuntu 64 box.
When I run phpunit I have this `WARN - Exception: unknown error: cannot find Chrome binary` and no tests are executed. What's up?
linux-chrome is present in vendor/bin and if I run it from command line it works...

[2016-10-24 09:19] Modelizer commented on #17
Can you run this command via tinker `mb_strtolower(PHP_OS)` and tell us what value you are getting?

[2016-10-24 10:19] spescina commented on #17
"linux"

[2016-10-24 10:31] kre8or69 commented on #17
Sucks you're having issues!

Is it a GUI version of ubuntu? and do you have chrome installed and are actually able to run it?

Hope we can get you up and running!

[2016-10-24 10:48] spescina commented on #17
nope. It's a custom vagrant box based on the scotchbox image... (https://box.scotch.io/)

[2016-10-24 10:54] Modelizer commented on #17
@spescina is GUI is not enabled on your VM? :scream:

But still it should not say `WARN - Exception: unknown error: cannot find Chrome binary` .

##

Fork this repo or make direct changes in `vendor/path/to/BootSelenium.php` and make some changes in [BootSelenium file line 62](https://github.com/Modelizer/Selenium/blob/master/src/Console/BootSelenium.php#L62).
I think Laravel is not able to get pr

[2016-10-24 10:57] Modelizer commented on #17
@spescina finding a solution for this problem is baseless if GUI is not enabled. Please try it on your host machine.

[2016-10-24 11:30] spescina commented on #17
@Modelizer sorry, I can't understand...

I have a Windows 10 host. I use the scotchbox vm without GUI. I would be able to run selenium tests in a headless environment like I do with firefox and without your package (only with firefox headless, selenium and phpunit-selenium). Can't I?

[2016-10-24 11:35] spescina commented on #17
@Modelizer wait. I'm forgetting something, sorry.
Before I war running selenium and firefox through xvfb with this command
`alias selenium='DISPLAY=:0 xvfb-run --auto-servernum java -jar /var/www/app/tests/bin/selenium-server-standalone.jar`

[2016-10-24 12:14] Modelizer commented on #17
This is the point! We haven't integrated any headless functionality in this package. But it would be a good idea. :+1:

You can contribute if you like by adding an option when you boot up selenium server like `php artisan selenium:start --headless` and we can specify that this feature is only available for linux machine right now. :)

Thanks.

[2016-10-24 12:14] #17 closed

[2016-10-31 18:57] x-yuri opened #21 "be() method doesn't seem to be working"
Here's the test:

[code]

And this is what I get:
[code]

[2016-10-31 19:10] Modelizer commented on #21
`be` will not work due to it is related to `Illuminate\Foundation\Testing\Concerns\ImpersonatesUsers` and in Selenium you will need to tell it manually.

[code]

[2016-10-31 19:10] #21 closed

[2016-10-31 19:55] x-yuri commented on #21
Can you explain why it's there? I can't see it used anywhere in the code.

[2016-10-31 21:45] jhoopes commented on #21
@x-yuri How are you running this test?

Are you running it independently from Laravel?  As this package is very tightly coupled with Laravel, running tests like this in isolation don't work.  I had been working on integrating orchestra/testbench into our tests for this package which simulates a Laravel application.

[code]

should work when running the test with laravel being booted with your test

[2016-11-01 06:11] x-yuri commented on #21
Thanks for your reply. Actually, I think I run it with my `laravel` app. The command is: `./vendor/bin/phpunit`. However, I'm in the process of writing my first tests for it. `./artisan --version` says `5.2.43`. I haven't changed my [`phpunit.xml`](https://github.com/laravel/laravel/blob/v5.2.31/phpunit.xml) yet (couldn't find `5.2.43` tag in that repository).

As for `be()` not being able to affe

[2016-11-01 11:33] x-yuri commented on #21
Moreover, when I do this in `app/Http/routes.php`:

[code]

I get the same error.

[2016-11-01 11:38] Modelizer commented on #21
@x-yuri thanks for your suggestion right now there is no cookies shortcut available in this package to authenticate user automatically. It would be nice if you think we can add `be` method which will check cookies and make user authenticated.

Feel free to submit a PR. :+1:

[2016-11-01 13:47] x-yuri commented on #21
But before that I should at least know what `be()` is supposed to do, why it triggers the error, and how to use it.

[2016-11-07 11:37] Modelizer commented on #21
@x-yuri Frankly speaking I need to dig it more.

@jhoopes I think it would be great if we find a trick to compile this code into smaller one.

[code]

[2016-11-16 09:52] Modelizer commented on #15
Now you can try https://github.com/Modelizer/Selenium/wiki/Selenium-Options#proxyinjectionmode

[2016-11-16 10:21] haakym commented on #15
@Modelizer - awesome, I'll give this a try soon and will be sure to give feedback

[2016-11-21 07:54] tyler36 opened #22 "General error: 1 no such table: users"
Firstly, thanks for taking the time to create and support the package.

The example test (via "artisan selenium:make:test SeleniumExampleText") works fine for me during installation.

I'm trying to add addition data to the database during the test.
[code]

The factory command functions if I use tinker, so I know it's setup. If I switch the extends to 'TestCase' and use the 'DatabaseMigrations' tra

[2016-11-21 10:47] Modelizer commented on #22
Thanks!
Try setting DB config in `phpunit.xml` file as an environment variable. You can use this file as a reference https://github.com/Modelizer/Selenium/blob/master/phpunit.xml.dist

[2016-11-21 10:48] Modelizer commented on #15
closing this issue for now.

[2016-11-22 01:48] tyler36 commented on #22
OK ... got it working. It didn't like my existing phpunit.xml configuration with the lines:
[code]

Using a real database connection functions, but any changes are maintain.
Does this package support the DatabaseTransactions through the default trait?
I tried added the following line and
[code]

but the database maintains the changes.

[2016-11-22 09:26] Modelizer commented on #22
ping @jhoopes...

[2016-11-22 10:31] haakym commented on #15
@Modelizer I've done the following...

1. `laravel new seleniumtest`

now if I go to `http://seleniumtest.dev/` I see the following in my browser:

![image](https://cloud.githubusercontent.com/assets/832687/20520403/96782698-b09e-11e6-8880-841729047323.png)

2. `composer require modelizer/selenium "~1.0"`

3. add to .env:
[code]

4. add to app.php
[code]

5. `php artisan selenium:make:test Seleniu

[2016-11-22 11:24] Modelizer commented on #15
ping @jhoopes @chrispecoraro Have you guys have any idea what is going on? :thinking:

I think if we able to pass a correct `APP_URL` in the proxy environment will solve this issue.

[2016-11-22 12:36] haakym commented on #15
Just to add some further context if you didn't read my first few posts on this issue, I am using this package at work where we're behind a proxy and thought this was causing the issue as googling similar errors brought up results related to proxy settings for selenium?

[2016-11-24 18:47] Modelizer commented on #22
Right now we haven't added explicit support for it but you may give a try.

Also, you can submit a PR to update readme for adding environment variables for database connection while testing with this package.

Thanks.

[2016-11-24 18:47] #22 closed

[2016-11-24 18:50] Modelizer commented on #14
Closing for now.

[2016-11-24 18:50] #14 closed

[2016-12-02 04:02] tyler36 opened #25 "ERROR: Exception in thread "main" java.lang.UnsupportedClassVersionError"
Hi,

Recently, I got this error on a new project when trying to run "php artisan selenium:start":
[code]

It was working on my other project. After some debugging, I realized it was a PHP issue.
My new project required PHP v5.6 (my other project v7.0).
"php artisan selenium:start" always fails when my system is set to PHP 5.6, but passes on PHP 7.0.
I didn't see anything on the site stating a mini

[2016-12-02 07:08] Modelizer commented on #25
I tested it on `PHP 5.6.28` and its working fine. Can you please debug it more or provide more information to reproduce it.

[2016-12-02 07:10] tyler36 commented on #25
I'm on ```PHP 5.6.18``` ... I'll try and do some more debugging soon

[2016-12-05 01:32] tyler36 commented on #25
Steps used to produce error on Win10:
1. Check PHP version: ```PHP 7.0.8```
2. Install Laravel: ```laravel new selenium```. Move into selenium directory
3. Install pacakge: ```composer require modelizer/selenium "~1.0"```
4. Update ENV as directed but set: ```APP_URL=http://localhost:8000/```
5. Add config option to app.php
6. Start PHP server: ```php artisan serve``
7. Start Selenium server: ```p

[2016-12-05 19:21] Modelizer commented on #25
It Looks like a bug in PHP 5.6.18 https://bugs.php.net/bug.php?id=71561 which is been fixed in 5.6.19

Can you please confirm by running this command in your project directory? Selenium server should get started.

[code]

Also, die dump this code at line 47 `vendor/modelizer/selenium/src/Console/BootSelenium.php` file and run `php artisan selenium:start` to know exactly what selenium is running un

[2016-12-05 19:28] paulg446 commented on #15
@haakym try removing the trailing forward slash from the APP_URL... APP_URL="http://seleniumtest.dev/" => APP_URL="http://seleniumtest.dev"
And then with testing, omit first forward slash also, ie  $this->visit('foo') instead of  $this->visit('/foo')

[2016-12-06 00:00] tyler36 commented on #25
I get the same error on ```PHP 5.6.28```

[2016-12-06 00:01] tyler36 commented on #25
I get the same error on ```PHP 5.6.28``` running
```php artisan selenium:start```

Using ```java -jar vendor/modelizer/selenium/selenium.jar -Dwebdriver.chrome.driver=vendor/bin/win-chrome.exe``` appears to start a Selenium server and the example tests work

The DD request outputs
```""java" "-jar" "I:\Lavarel\testserver\selenium56\vendor\modelizer\selenium\selenium.jar" "-Dwebdriver.chrome.driver

[2016-12-06 06:31] Modelizer commented on #25
What is the size of your `win-chrome.exe` file?

[2016-12-06 06:37] tyler36 commented on #25
Windows explorer reports the size as ```6,790kb```

[2016-12-06 19:05] Modelizer commented on #25
What if you run this command directly?
`java -jar I:\Lavarel\testserver\selenium56\vendor\modelizer\selenium\selenium.jar -Dwebdriver.chrome.driver=I:\Lavarel\testserver\selenium56\vendor\bin\win-chrome.exe`

[2016-12-07 00:35] tyler36 commented on #25
Non problems running the command directly
```java -jar I:\Lavarel\testserver\selenium56\vendor\modelizer\selenium\selenium.jar -Dwebdriver.chrome.driver=I:\Lavarel\testserver\selenium56\vendor\bin\win-chrome.exe```

[2016-12-09 09:57] splatEric opened #26 "Speed up timeout process if no element found."
Hi,

Loving the idea behind this, and have been using the package extensively on my current project. However, I have a problem with the findElement method. When I provide a field identifier as a name, it first goes through finding by id, xpath etc. Selenium seems to take about 10 seconds to timeout on failing to find with these criteria, which makes the tests very slow.

So, is there some configur

[2016-12-09 20:42] Modelizer commented on #26
Thanks! I think you should give it a try

Ideally, It should not take so much time.

[2016-12-10 10:31] splatEric commented on #26
Okay, are there any conventions I should adhere to for the interface? We
could either do:

typeByName($text, $name)
typeById($text, $id)
typeByCss($text, $css)

Etc

Or

type($text, $value, $selector_type)

And if $selector_type is null it could behave as normal and simply use
findElement

If we do this approach, it would follow that other methods for setting
values should support a similar conven

[2016-12-10 21:43] Modelizer commented on #26
I guess it's been already done. Please check https://github.com/Modelizer/Selenium/blob/master/src/Services/InteractWithPage.php#L212-L222

My point it how can we speed up the timeout process?

[2016-12-10 21:49] splatEric commented on #26
Yeah trouble with that is there's no way of controlling the order in which
those are called.

I did play with the wait for stuff on Friday, but didn't have a huge amount
of luck before I ran out of time to carry on with it.

 My proposal is more about direct control of the test route, whereas
addressing the underlying issue around timeout for the selenium request
seems trickier ...

On 10 Dec 2016

[2016-12-12 06:07] Modelizer commented on #26
Can you give me a sample of this?

[2016-12-12 11:09] splatEric commented on #26
If I have an html form element such as:

```<input type="text" name="foo" />```

In my test I have the following:

```$this->type('bar', 'foo');```

Under the hood, the ```type``` method will call ```findElement```. As you pointed out, this will then go through the various by[kind] methods to find the element to add 'bar' to. But the problem I am having is that each call to selenium ```byId``` is

[2016-12-12 11:38] Modelizer commented on #26
Yeah! that would be great. Please send a PR with a test case. Thanks :+1:

[2016-12-12 12:08] splatEric commented on #26
okay, it might not happen for a little while, I've just looked at my schedule for the next week or so and it's looking a bit on the busy side, but this is now on the todo list ;-)

[2016-12-16 11:50] NtimYeboah opened #27 "Test not using database configuration set in phpunit.xml"
Thanks for writing this package, it's really helpful

My selenium test is not using the database configuration set in the phpunit.xml, instead it's using the development database.

I have tried the help given in this issue [General error: 1 no such table: users](https://github.com/Modelizer/Selenium/issues/22) but it didn't work for me.

This is my phpunit.xml file

[code]

And this is the test

[

[2016-12-16 21:49] Modelizer commented on #27
Need to cross check with the in-memory database. Meanwhile, you can go with MySQL connection.

[2016-12-18 06:21] Modelizer commented on #27
Have you not setup `testing` connection in `database.php` file?

This reference may help you https://laracasts.com/discuss/channels/testing/how-to-specify-a-testing-database-in-laravel-5

[2016-12-18 06:21] #27 closed

[2016-12-18 06:25] Modelizer commented on #25
try git bash to run commands.

Closing for now. The problem seems related to outside this package.

[2016-12-18 06:25] #25 closed

[2016-12-28 03:54] edibez opened #28 "Usage on non local environment"
Hi

First of all what a great library ! Thank you for this. I have built several site with Laravel but I am quite new with Selenium automated testing, and trying to incorporate Selenium on my current project. I have a few questions that would be great if you can enlighten

1. Me and my team don`t develop locally nor use container. We develop on our dev server under CentOS . Will it be possible to

[2016-12-28 06:30] Modelizer commented on #28
Thanks @edibez

Yes, you need to run selenium server whenever you want to test cases or you may keep it running whenever you boot your centos. This may help you to configure a headless testing https://gist.github.com/textarcana/5855427

Alternate solution will be to use saucelabs.com

[2016-12-28 06:30] #28 closed

[2016-12-28 19:52] Abonive opened #29 "Selenium not using the phpunit.xml mysql connection"
When running a test the factory method does create the record in the 'testing' database, but when selenium hits the page its using the default db connection and when i try to login the just created user it gets **credentials don't match message** and test fails.

also the laravel DatabaseTransactions doesn't work either.

my phpunit.xml

[code]

i have 'testing' connection setup.

my test

[code]

[2016-12-29 15:06] Modelizer commented on #29
Thanks for reporting! I'm looking into it.

[2016-12-30 05:07] chantezan opened #30 "$this->be does not work."
I used that code because WithoutMiddleware not work,

[code]

but when i run test with selenium  App::runningUnitTests() is true,
so i tried use $this->be(User::find(9)) for skip the loging and throw error :(
`ErrorException: call_user_func_array() expects parameter 1 to be a valid callback, class 'Illuminate\Auth\SessionGuard' does not have a method 'driver'`
$this->be(User::find(9)) not have pro

[2016-12-30 05:52] chantezan commented on #30
duplicated

[2016-12-30 05:52] #30 closed

[2016-12-30 06:37] Modelizer commented on #30
https://github.com/Modelizer/Selenium/issues/21

[2016-12-30 06:38] Modelizer commented on #21
We need to set the driver https://github.com/Modelizer/Selenium/blob/master/src/Services/Application.php#L92 as referred in https://github.com/laravel/laravel/blob/master/config/auth.php#L69

@chantezan try
[code]

[2016-12-30 13:43] x-yuri commented on #21
I see now, [your code][m1] might be a bit obsolete (supposedly). Compare it with [this line][l1].

[m1]: https://github.com/Modelizer/Selenium/blob/v1.2.0/src/Services/Application.php#L94
[l1]: https://github.com/laravel/framework/blob/v5.2.45/src/Illuminate/Foundation/Testing/Concerns/ImpersonatesUsers.php#L32

So, if you replace `driver` with `guard` in your code, this test will pass:

[code]

[2016-12-30 14:54] chantezan opened #31 "use DatabaseTransaction not work"
[code]
i can not clear database for run new test.
what can i do?

[2016-12-30 18:36] Modelizer commented on #21
@x-yuri Thanks for pointing it out, I made changes but still user will not be logged in when a browser is open. The test case will pass but we need to manually authenticate a user in a browser.

[2016-12-30 18:38] Modelizer commented on #31
try

[code]

[2016-12-30 18:38] #31 closed

[2016-12-30 18:42] Modelizer commented on #29
For me, this was solved by adding all details in phpunit file
[code]

and for database transaction, you can try https://github.com/Modelizer/Selenium/issues/31

[2016-12-30 19:07] x-yuri commented on #21
Meaning, `be()` is now working, what's left is to make it work in the browser session? That brings up a couple of questions. Or at least one. How is it supposed to look from user perspective? The most straightforward way is:

[code]

But that relies on order of tests. And just doesn't look good to me :) I see it more like some helper methods that simplify creating `login()` (or `beInBrowser()`) me

[2016-12-30 19:19] Modelizer commented on #21
I do feel the same. For a faster solution, we usually create a method which will take care of login. But I was thinking to come up with some direct login tricks which will not spend user time on authenticating for every single test. This will consume time when developers have 100s of test to perform. Regarding `beInBrowser` method I'll rather prefer `be` to perform both the actions.

On a side not

[2016-12-31 12:28] Abonive commented on #29
it doesn't solve the problem for me.

[2016-12-31 16:06] Abonive commented on #29
i have fixed it by creating Testing Middleware that changes the default database connection on every request

middleware

[code]

and i have added it to Http Kernel to:

[code]
then just comment it out when you push it to production.

[2017-01-01 08:07] Modelizer commented on #29
Okay, so my solution will not work when an actual browser is open. Recently someone raised a similar issue related to .env on Laravel and env repo. Right now I'm not able to get exact issue link. So for a quick solution, your middleware stuff will solve it but you can also go with `APP_ENV=testing`  in your `.env` file. Then your middleware will see if `APP_ENV == testing` and then overwrite testi

[2017-01-01 10:36] Abonive commented on #29
ok. i have created fork with the TestingMiddleware and created PR.

[2017-01-10 20:50] marktopper commented on #26
Any updates on this?

[2017-01-10 21:19] marktopper opened #34 "Doesn't handle exceptions?"
When I do
[code]

It just hangs, since the page does not exists and throws a NotFoundException.

However, that exception should go on for the test as well, shouldn't it?

[2017-01-11 10:45] splatEric commented on #26
Apologies, got sidetracked by Christmas and other bits of work. And then of course they announced Laravel Dusk, which might make some of this rather redundant.

But I will hopefully have some time over the next few days to come back to this.

[2017-01-11 11:28] Modelizer commented on #26
Laravel Dusk will have a new sets of API and Taylor has extract older one to [browser kit](https://github.com/laravel/browser-kit-testing) I will decide road map for this package once Laravel Dusk is release.

Reason to keep maintaining this package is there will be small amount of people who want to use Selenium due to some scenario.

[2017-01-12 08:29] marktopper commented on #26
I get it 👍

[2017-01-12 14:48] Vasiliy-Bondarenko opened #35 "tick($name) or check($name)"
tick($name) or check($name) not working. look like this methods just not exist. can't find them in your code.

[2017-01-12 17:46] Modelizer commented on #34
I tested it on my local. It's working fine... Or provide us more detail if you miss something.

[2017-01-12 17:46] #34 closed

[2017-01-12 17:47] Modelizer commented on #35
There are few as well :)

Feel free to submit a PR 👍

[2017-01-19 06:18] #26 closed

[2017-02-09 13:16] deleugpn commented on #17
I found this topic while searching for the issue of "cannot find Chrome Binary". When running a Linux without GUI, Chrome doesn't work and thus we can't run tests, is that it?

[2017-02-10 05:35] Modelizer commented on #17
What exception do you get? Please give a full exception list to get to know what exactly happening.

[2017-02-10 08:20] deleugpn commented on #17
I'm not using Laravel-Selenium, so I'm not sure if that would help. I'm using Laravel Dusk as is (out of the box). I just want to know if conceptually it is possible to have your tests running on a browser driver even though the Linux distribution have no GUI whatsoever.

[code]

[2017-02-10 10:11] Modelizer commented on #17
I think this error should go at laravel dusk repo... Because dusk is built on top of facebook php web driver and this package is using phpunit/phpunit-selenium

[2017-02-12 17:57] edgreenberg opened #37 "method attachFile shown in wiki does not appear to exist"
Thank you for your excellent package modelizer/laravel-selenium.

I am trying to test an uploaded file with:
[code]

The error I get is:
`You cannot call a command with multiple method arguments.`

The traceback points to the line containing ->attachFile

I am running modelizer/selenium 1.2.2.

I looked through my entire vendor directory, and cannot find attachFile.

What do I need to do?

[2017-02-12 18:12] Modelizer commented on #37
Thanks for raising this issue but as far as I know we don't have `attachFile` method. Please feel free to submit a PR.

Thanks. :)

[2017-02-12 18:54] edgreenberg commented on #37
Shaikh, I agree that you don't have it in the code, but you do have it in the wiki for the project, along with the other methods.

If we don't have this method, what is the correct way to test uploading a file through the browser?

PS I don't know what a PR is.

[2017-02-12 19:10] Modelizer commented on #37
Okay, I will look into this issue. It will be added in 2.0 version of this package.

[2017-02-13 00:05] InteNs opened #38 "issue with creating cookies on chrome driver"
hey, i've created an empty laravel project with laravel-selenium and when i try to run my tests

`php vendor/bin/phpunit --coverage-clover build/logs/clover.xml`

I get this:
[code]

any idea about whats happening? seems like it's setting a cookie before doing anything

here's my test:
[code]

[2017-02-15 05:32] Modelizer commented on #38
the issue occurs when we put COVERAGE LOGS as one of our reports logs. If we uncomment the COVERAGE code lines our test run smoothly on Chrome Browser.

For more details you can check out https://bugs.chromium.org/p/chromedriver/issues/detail?id=728

[2017-02-27 13:36] #38 closed

[2017-04-13 17:43] beghelli opened #39 "Improve README installation section"
After using composer to add this package into a laravel project, we need to clear the config cache so selenium commands will be available via php artisan.

[2017-04-14 06:40] Modelizer commented on #39
Thanks 👍

[2017-04-14 06:40] #39 closed

[2017-09-28 15:58] LarryEitel opened #45 "unknown error: cannot get automation extension (Found workaround)"
Unable to run basic test. Using Laravel 5.5 on Windows 10.

[code]

More searching revealed work around:

Comment out line:
`vendor/modelizer/selenium/src/SeleniumTestCase.php:53`

For more info, visit: https://stackoverflow.com/a/45459039/913295

[2017-11-04 13:17] p3tr1q commented on #45
Thanks, commenting that line helped. I found that a solution could be updating the chromedriver, but i don't know how to do it, since i don't understand where it was saved by settings from ../config/drivers.php.

[2017-11-07 07:46] Modelizer commented on #45
It get saved in `vender/bin` directory.

@p3tr1q you can raise a PR to alter `config/drivers.php` file with the latest version of chrome driver setting.

[2017-11-16 22:59] jofecolella opened #46 "PHPUnit_Extensions_Selenium2TestCase_WebDriverException"
I am having this exception using this package in Laravel 5.4 and Php 7.0 on Ubuntu 14.04 server

I get this error:

1) SeleniumExampleTest::testExample
PHPUnit_Extensions_Selenium2TestCase_WebDriverException:

/home/vagrant/Code/nocnoc/vendor/phpunit/phpunit-selenium/PHPUnit/Extensions/Selenium2TestCase/Driver.php:165
/home/vagrant/Code/nocnoc/vendor/phpunit/phpunit-selenium/PHPUnit/Extensions/Sel

[2017-12-01 11:13] Modelizer commented on #46
Try stable version. If it still not fix then please give us a brief message what do you see in console?

[2017-12-01 11:13] #46 closed

[2017-12-01 11:15] #29 closed

[2018-01-19 12:20] MelchiorKokernoot opened #47 "type method opens chrome://settings/help page on ChromeDriver"
When using the ->type() method in your test, it will run the test but it will also open a new tab with Chrome://settings/help. I did some research on google and found out it's because an older version of ChromeDriver is used.

**Steps i took to fix it: **

1. I deleted the package and the webdriver it installed.
2. I went to `vendor/modelizer/selenium/config/drivers.php` and updated the links ther

[2018-01-19 12:45] MelchiorKokernoot commented on #47
Submitted pull request #48 to fix issue

[2018-03-11 18:18] ftrudeau opened #49 "Use in console command ?"
Hello !

Thanks for this package. I'd like to use it in the scope of an artisan console command, and not in a test class.  Is this at all possible, and how could this be achieved ?

Thanks.

[2018-03-13 09:47] Modelizer commented on #49
You need to import all the things from this class https://github.com/Modelizer/Laravel-Selenium/blob/master/src/SeleniumTestCase.php

but why you want to do it?

[2018-03-13 12:27] ftrudeau commented on #49
Because I want to use Selenium to automate some tasks unrelated to testing.
I figured it out.
Thanks for the reply ; )

[2018-03-13 12:27] #49 closed

[2018-03-15 20:24] ttimot24 opened #50 "Can't find element"
Hi!

My tests can't find none of the elements.

Eg:
`$this->visit('/')->wait(5)->findElement('email');`

The email element is surelly there. The id and the name attribute is 'email'.

What could be the problem?

[2018-03-19 13:27] #45 closed

[2018-03-19 13:28] Modelizer commented on #50
Can you please provide me with the Laravel version? and did you did any alteration? or you got any error in console while running selenium server etc?

[2018-03-20 18:49] ttimot24 commented on #50
Hi!

Okey a found out it works with chrome but not with firefox. It's strange. I use an external selenium server, with external geckodriver. All of them are the latest release.

[2018-04-01 20:19] LarryEitel opened #51 "ReflectionException - After upgrade to Laravel 5.6"
$ `php artisan selenium:start`

Returns:
[code]

[2018-04-01 22:10] Modelizer commented on #51
I found a fix by replacing line https://github.com/Modelizer/Laravel-Selenium/blob/v1.2.2/src/Console/BootSelenium.php#L34&L48

to
[code]

but problem is more severe. https://github.com/giorgiosironi/phpunit-selenium/ needs to have compatibility with phpunit/phpunit. It is in my todo list to make some core API changes. https://github.com/Modelizer/Laravel-Selenium/projects/3 but if you can submit

[2018-04-01 22:28] #51 closed

[2018-04-02 13:31] LarryEitel commented on #51
I made your hack to a vanilla Laravel 5.6 and the error remains. :( I jumped through a bunch of hoops to upgrade to 5.6. This is the only hold up to proceeding. I would be happy to submit a PR if I knew how/where to correct the issue.

Any work arounds that would enable me to not have to revert back to 5.5 would be AWESOME. :)

[2018-04-02 13:37] Modelizer commented on #51
Right now I'm working on a new 2.x release which will have integration of https://github.com/lmc-eu/steward replacing phpunit's selenium.

This upgrade will have 5.6 support but trade off would be only phpunit 5.7 and lower would be acceptable by composer.

Hope I finish it as soon as possible because changing the core API is a big change.

[2018-04-02 13:42] LarryEitel commented on #51
Thank you for your prompt response. I can appreciate the challenge to refactor core API.

If your next version breaks previous requirements, perhaps just increment version number and note the revised requirements. :)

I will shelf my 5.6 version and revert back to 5.5 for now.

Thank you for providing this package. :)

[2018-04-06 12:11] Modelizer commented on #51
I have not updated readme. but I release 2.0 version of this package https://github.com/Modelizer/Laravel-Selenium/releases/tag/v2.0

Please feel free to submit PR in regards to update readme or any changes. Thanks.

[2018-04-07 23:31] Modelizer commented on #50
Not sure. Try lower version of firefox or upgrade to 2.0 of this package.

[2018-04-07 23:31] #50 closed

[2018-04-07 23:33] Modelizer commented on #15
Upgrading to 2.0 should solve this problem.

[2018-04-07 23:33] #15 closed

[2018-05-11 13:46] blaqdog opened #53 "Call to a member function get() on null"
Have install package with Installation guide, and after running

[code]

Tried to run guide test

[code]

laravel 5.6.21
Ubuntu 16.04 (remote server)

I am new in laravel, so i didnt realize what to do. Thank you, for any advice

[2018-05-14 17:39] Modelizer commented on #53
You need to run test by this command `vendor/bin/steward run staging chrome`

[2018-05-14 17:39] #53 closed

[2018-09-03 12:32] alibaraneser opened #54 "Error loading class "SeleniumExampleTest" from file "/var/www/html/api/tests/SeleniumExampleTest.php"."
Hey,

I'm getting this error altough everything done.

error

`  Error loading class "SeleniumExampleTest" from file "/var/www/html/api/tests/SeleniumExampleTest.php". Make sure the class name and namespace matches the file path. `

[2018-09-05 20:05] ashikdnd opened #55 "use of press on a form submit button fails"
I'm trying to submit a form but the test fails

[code]
where `Login` is the value of Submit button

[2018-09-05 20:06] ashikdnd commented on #54
You should use the namespace in the file

[code]

[2018-09-05 20:22] ashikdnd commented on #55
@Modelizer kindly solve this for me

[2018-09-06 16:54] Modelizer commented on #55
Are you using `Login` as text inside the button? If it is anchor tag then please use `click` method.

[2018-09-06 16:54] #55 closed

[2018-09-06 16:54] #54 closed

[2018-09-23 19:08] SAMDEV-R opened #56 "event press doesnt' work correctly"
Hi,
I'm learning how to use Laravel-Selenium making a basic excersise.
I have an input submit which have the value "**_Guardar_**"
![captura](https://user-images.githubusercontent.com/8661313/45931851-6eef0780-bf39-11e8-876c-652b6e7cb7a8.PNG)

And this is my test, where I perform the press event.

![captura](https://user-images.githubusercontent.com/8661313/45931864-a8c00e00-bf39-11e8-807e-0eba209

[2018-09-23 20:46] Modelizer commented on #56
Currently `press` is only supporting button tag. https://github.com/Modelizer/Laravel-Selenium/blob/master/src/Services/InteractWithPage.php#L243

You can raise a PR to add this functionality 👍

[2019-06-03 09:55] hatamiarash7 opened #57 "namespace problem"
The command `php artisan selenium:make:test` create a class without a namespace.

so we can't run `vendor/bin/steward run staging chrome`

The output class should has a `Tests` namespace

[code]

[2019-06-03 13:23] hatamiarash7 opened #58 "Too few arguments to function setUpTheTestEnvironmentTraits()"
I ran this library in **Laravel 5.8**

There is a problem with arguments. steward return fatal error and after many search saw this error in logs :

[code]

So i saw `SeleniumTestCase.php` and line 71 :

[code]

The `setUpTheTestEnvironmentTraits()` method from Testing trait, need at lease one argument as array. You can see below :

[code]

I fixed this error by editing `SeleniumTestCase.php` and

[2019-08-09 08:30] Modelizer commented on #57
Please feel free to raise PR and update the test cases if needed.

[2019-08-21 00:10] dshingu opened #60 "Starting chrome with data:; as url and not doing anything"

[2020-07-02 06:47] devtripleplus commented on #58
Hey @hatamiarash7, Did you find any solution for the same.

I am also getting same issue:

Tests\SeleniumTestExample> ArgumentCountError: Too few arguments to function Modelizer\Selenium\SeleniumTestCase::setUpTheTestEnvironmentTraits(), 0 passed in C:\Users\test\Desktop\websites\laravel\demo-task-list\vendor\modelizer\selenium\src\SeleniumTestCase.php on line 70 and exactly 1 expected

[2020-07-02 06:53] hatamiarash7 commented on #58
@devtripleplus Sorry i can't remember :))) It's an old issue

[2020-07-02 10:41] devtripleplus commented on #58
@hatamiarash7 Do you have any idea how to implement selenium in laravel

[2020-07-02 12:10] hatamiarash7 commented on #58
@devtripleplus You can use **[Laravel Dusk](https://laravel.com/docs/7.x/dusk)**. It's much better

[2022-02-02 16:16] #60 closed